<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>We B Logging</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>

<body>
  <header>
    <h1>We B Logging</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout" type="button" class="btn-warning">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  {{!-- <script src="/js/delete.js"></script> --}}
</body>

</html>