<section class="card">
  <header>
    <h1 class="row">{{blogs.title}}</h5>
  </header>
  <p class="content">{{blogs.content}}
  <p>
  <p class="by">Posted by {{blogs.username}} on {{format_date blogs.date_created}}</p>
</section>

